<!DOCTYPE html>
<html>
  <head>
    <title>gengo learning|言語学習</title>
  </head>
  <body>
    <h1>Gengo Learning</h1>
    <p>
      This is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  </body>
</html>
